{% extends 'app/base.html' %}
{% load static %}

{% block js %}
    <script src="{% static 'app/js/index.js' %}" defer></script>
{% endblock %}

{% block content %}

    <!-- PAGE TITLE -->
    <h1>Application de recommandations de films</h1>
    <h2><i>La vie en Creuse</i></h2>

    <form id="questionnaireForm" action="{% url 'app:questionnaire' %}" method="POST">
        {% csrf_token %}
        <!-- TITLE -->
        <div id="filmInputContainer">
            <h3>
                <label for="filmTitleInput">Titre du film</label>
            </h3>
            <input type="text" name="select2" id="filmTitleInput">
            <input type="hidden" name="title" id="filmTitleHidden">
        </div>

        <!-- AGE -->
        <h3>Tranche d'âge</h3>

        <div class="radio-group" id="ageCategories">
            <label>
                <input class="radioAgeCategory" type="radio" name="age" value="child" required checked> - de 14 ans
            </label>
            <label>
                <input class="radioAgeCategory" type="radio" name="age" value="teenager"> entre 14 et 18 ans
            </label>
            <label>
                <input class="radioAgeCategory" type="radio" name="age" value="adult"> + de 18 ans
            </label>
        </div>

        <!-- NB FILMS -->
        <label for="recommendationsNumberInput"><h3>Nombre de recommandations souhaitées</h3></label>
        <input type="number" name="recommendationsNumber" id="recommendationsNumberInput" value="5" min="5" required>

        <!-- SUBMIT -->
        <input type="submit" class="custom-button" value="Lancer la recherche">
    </form>

{% endblock %}
