{% extends 'app/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/questionnaire.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'app/js/questionnaire.js' %}" defer></script>
{% endblock %}

{% block content %}
    <form action="{% url 'app:result' %}" method="POST">
        {% csrf_token %}
        <h1>Quelques questions pour affiner les recommandations relative à <br><i>“{{ title }}”</i></h1>

        <!-- LANGUAGE -->
            <h3>Langue</h3>
        {% for languages_group in languages %}
            <div class="checkbox-group">
                {% for language in languages_group %}
                    <label>
                        <input type="checkbox" name="language" value="{{ language }}"> {{ language }}
                    </label>
                {% endfor %}
            </div>
        {% endfor %}


        <!-- TIME -->
        <h3>Durée</h3>
        <div class="checkbox-group">
                <label>
                    <input type="checkbox" name="times" value="0">Entre 1h et 1h30
                </label>
                <label>
                    <input type="checkbox" name="times" value="1">Entre 1h30 et 2h
                </label>
                <label>
                    <input type="checkbox" name="times" value="2">Entre 2h et 3h
                </label>
                <label>
                    <input type="checkbox" name="times" value="3">Plus de 3h
                </label>

            </div>

        <label for="filter">
            <h3>Critère de sélection</h3>
        </label>
        <select id="filter" name="filter">
            <option value="none">Aucun</option>
            <option value="genres">Les genres</option>
            <option value="actors">Les acteurs</option>
            <option value="directors">Les réalisateurs</option>
        </select>

        <!-- GENRE -->
        <div class="hidden-choice" id="genres">
            <h3>Genres favoris</h3>
            {% for genres_group in genres %}
                <div class="checkbox-group">
                    {% for genre in genres_group %}
                        <label>
                            <input type="checkbox" name="genres" value="{{ genre }}"> {{ genre }}
                        </label>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <!-- ACTORS -->
        <div class="hidden-choice" id="actors">
            <h3>Acteurs préférés</h3>
            <select id="actors-input" name="actors" multiple>
                {% for actor in actors %}
                    <option value="{{ actor }}">{{ actor }}</option>
                {% endfor %}
            </select>
        </div>


        <!-- DIRECTORS -->
        <div class="hidden-choice" id="directors">
            <h3>Réalisateurs préférés</h3>
            <select id="directors-input" name="directors" multiple>
                {% for director in directors %}
                    <option value="{{ director }}">{{ director }}</option>
                {% endfor %}
            <!-- Ajoutez autant d'options que nécessaire -->
            </select>
        </div>

        <input type="submit" value="Voir les films qui pourraient me plaire" class="custom-button">
    </form>
{% endblock %}